.dashboard {
  display: flex;
  justify-items: center;
  flex-wrap: wrap;

  &__widget {
    margin: .5rem;
    border-radius: 3px;
    padding: 1rem;

    &--full {
      flex-basis: 100%;
      background-color: #76D7C4;
    }

    &--half {
      flex-basis: 43%;
      background-color: #85C1E9;
    }

    &--quarter {
      flex-basis: 20%;
      background-color: #D2B4DE;
    }

    .widget__title {
      margin-top: 0;
    }

    .widget__value {
      font-size: 2rem;
      font-weight: 700;
    }

    .widget__info {
      font-size: .8rem;
      font-weight: 300;
      font-style: italic;
      opacity: .75;
    }

    .widget__chart {
      font-size: .8rem;

      .chart__bar {
        border-radius: 15px;
      }
    }
  }
}
