@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  color: #1C2833;
}

body {
  width: 100%;
  margin: 0 auto;
}

h1 {
  margin: .5rem;
}
