.dashboard {
  display: flex;
  justify-items: center;
  flex-wrap: wrap;

  .widget {
    margin: .5rem;
    border-radius: 3px;
    padding: 1rem;

    &--full {
      flex-basis: 100%;
      background-color: #76D7C4;
    }

    &--half {
      flex-basis: 43%;
      background-color: #85C1E9;
    }

    &--quarter {
      flex-basis: 20%;
      background-color: #D2B4DE;
    }

    .widget__title {
      margin-top: 0;
    }
  }

  div.widget {}
}
